<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="libs/angular.min.js"></script>
</head>
<body ng-app="myForm">
    <div ng-controller="myController">
        <form>
            <!-- ng-model được sử dụng để buộc dữ liệu 2 chiều từ $scope 
            vào các điều khiển của form như input, select, textarea -->
            <input type="text" ng-model="name">
            <br>
            <h1>Đã nhâp: {{name}}</h1>
            <!-- radio -->
            <!-- <input type="radio" value="1" ng-model="input.gender">Nam
            <input type="radio" value="2" ng-model="input.gender">Nữ -->
            <br>
            <!-- checkbox -->
            <label>Danh sách ny cũ</label>
            <br>
            <!-- <input type="checkbox" ng-model="input.danhSach.All">ALL -->
            <!-- Sử dụng ng-checked để kiểm soát trạng thái của các checkbox khác dựa trên checkbox ALL -->
            <!-- <input type="checkbox" ng-model="input.danhSach.A" ng-checked="input.danhSach.All">Nguyễn Thị A
            <input type="checkbox" ng-model="input.danhSach.B" ng-checked="input.danhSach.All">Nguyễn Thị B
            <input type="checkbox" ng-model="input.danhSach.C" ng-checked="input.danhSach.All">Nguyễn Thị C
            <input type="checkbox" ng-model="input.danhSach.D" ng-checked="input.danhSach.All">Nguyễn Thị D -->
            <br>
            <label>Danh Sách</label>
            <!-- select -->
            <!-- ng-options -->
            <!-- <select ng-model="selectedItem" ng-options="item.name for item in danhMuc"></select> -->
            <!-- ng-repeat -->
            <!-- <select ng-model="selectedItem">
                <option ng-repeat="item in danhMuc" value="{{item.id}}">{{item.name}}</option>
            </select> -->
            <!-- <button ng-click="submit()">Gửi</button> -->

        </form>
    </div>
    <script src="controller/form.js"></script>
</body>
</html>